/*==============================================================

Buttons

File: SCSS Partial (/scss/objects/_buttons.scss)
Compiled to: css/style.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Buttons
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Buttons
  -------------------------------------------------------- */

	.btn {
		@include border-radius(5px);
		@include links-light;
		@include single-transition(all, 0.2s, ease-in-out);
		display: inline-block;
		background: $clr-utility;
		line-height: 1;
		font-weight: $fnt-bold;
		padding: $space; 
		border: 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		a {
			@include links-light;
			text-decoration: none;
		}
		
		&:hover, &:focus {
			background: lighten($clr-utility, 25%);
		}
	}

	.btn--small {
		@extend .btn;
		padding: $space/2;
	}

	.btn--large {
		@extend .btn;
		padding: $space/2;
		text-transform: uppercase;
		background: $clr-primary;
		font-size: 1.4rem;
		font-weight: normal;
	}