/*==============================================================

Layout

File: SCSS Partial (/scss/objects/_layout.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Layout blocks
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Content blocks
  -------------------------------------------------------- */

	.block {
			padding: $base-num*4 $base-num $base-num*4 $base-num;

			.content {
				margin: 0 auto;
				max-width: $max-width;
				position: relative;
			}
		}

	// Site header
	.block--site-header {
		@extend .block;
	}	

	// Site content
	.block--site-header {
		@extend .block;
	}	

	// Site footer
	.block--site-footer {
		@extend .block;
	}			