/*==============================================================

Layout

File: SCSS Partial (/scss/objects/_layout.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Layout blocks
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Content blocks
  -------------------------------------------------------- */

	.content-block {
		max-width: $max-width; 
		margin: 0 auto;
		padding: $base-num*4 $base-num;
	}