/*==============================================================

Modules

File: SCSS Partial (/scss/partials/_modules.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Layout modules
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* 
  -------------------------------------------------------- */