/*==============================================================

Layout

File: SCSS Partial (/scss/partials/_layout.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Primary layout elements
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Helpers
  -------------------------------------------------------- */

  .group {
    @include clearfix;
  }

  .align-r {
    text-align: right;
  }

  .align-l {
    text-align: left;
  }

  .float-r {
    float: right;
  }

  .float-l {
    float: left;
  }
