/*==============================================================

Lists

File: SCSS Partial (/scss/base/_lists.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Base rules for lists
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Primary lists
  -------------------------------------------------------- */

	ol, ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

/* Definition lists
  -------------------------------------------------------- */

  dl {
  	overflow: hidden;
  	margin: 0 0 $base-num;
  }

  dt {
  	font-weight: bold;
  }

  dd {
  	margin-left: 0;
  }