/*==============================================================

Tables

File: SCSS Partial (/scss/base/_tables.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Tables base
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Base
  -------------------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid $clr-keyline;
}

th {
	text-align: left;
	border: 1px solid $clr-keyline;
	padding: 0.2em;
}

td {
	border: 1px solid $clr-keyline;
	padding: 0.2em;
}