/*==============================================================

Typography

File: SCSS Partial (/scss/partials/_typography.scss)
Compiled to: css/global.css
Created: 14/06/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Typographical elements
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Base
  -------------------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: $base-clr;
	font-family: $base-fnt;
	font-size: $base-fnt-size;
	line-height: $base-line-height;
}

/* Posts / Pages
  -------------------------------------------------------- */
  
  .entry-content {

    // Headers
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: $base-num;
    }

    // Paragraphs
    p {
      margin-bottom: $base-num/2;
    }

    // Lists
    dt {
      font-weight: bold;
    }

    // Tags 
    address {
      margin-bottom: $base-num;
    }

    abbr {
      font-weight: bold;
    }

    acronym {
      font-weight: bold;
      font-style: italic;
    }

    cite {
      font-weight: bold;
    } 
    
    q {
      font-style: italic;
    }   

    // Blockquotes
    blockquote {
      color: darken($clr-secondary, 15%);
      font-style: italic;
      position: relative;

      i {
        position: absolute;
        left: -20px;
        top: 3px;
      }
    }
  }
  
	
/* Links
  -------------------------------------------------------- */

a {
	@include links-dark;
	@include single-transition(color, 0.2s, ease-in-out, 0s);
}