/*==============================================================

Branding

File: SCSS Partial (/scss/objects/_branding.scss)
Compiled to: css/style.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Branding elements like logo, colorschemes
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Logo
  -------------------------------------------------------- */

	.logo {
		background-color: pink;
	}