/*==============================================================

Navigation

File: SCSS Partial (/scss/partials/_navigation.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Primary, secondary & tertiary navigations
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Menus
  -------------------------------------------------------- */

  nav {
  	list-style-type: none;
  }

	.menu {

		a {
			text-decoration: none;	
		}
	}

	.menu-inline {

		> li {
			display: inline-block;
			margin-right: $space;

			&:last-child {
				margin-right: 0;
			}

			a {
				@include links-secondary;
				text-decoration: none;
			}
		}
	}

	.menu-stacked {

		> li {
			border-bottom: 1px solid $base-clr;
			margin-bottom: $space/3;
			padding-bottom: $space/3;
			position: relative;
			line-height: 18px;
		}
	}

	.menu-blocks {

		> li {
			float: left;
			margin-right: $space;

			&:last-child {
				margin-right: 0;
			}
	
			a {
				@include links-secondary;
				@include inline-block;
				@include single-transition(all, 0.2s, ease-in-out);			
				background: $base-clr;
				padding: $space/2 $space;		
				text-decoration: none;	

				&:hover {
					background-color: lighten($base-clr, 20%);
				}
			}
		}											
	}

  .main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}