/*==============================================================

Global

File: SCSS Partial (/scss/global.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Placeholder file for all SCSS imports
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/*  Compass
  -------------------------------------------------------- */

@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";


/*  Generic
  -------------------------------------------------------- */

@import "generic/variables";
@import "generic/mixins";
@import "generic/normalize"; 


/*  Base
  -------------------------------------------------------- */

@import "base/main";
@import "base/typography";
@import "base/layout";
@import "base/elements";
@import "base/accessibility";
@import "base/media";
@import "base/wordpress";
@import "base/print";


/*  Objects
  -------------------------------------------------------- */

@import "objects/modules";
@import "objects/navigation";