/*==============================================================

Layout

File: SCSS Partial (/scss/objects/_layout.scss)
Compiled to: css/global.css
Created: 16/10/2015
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Layout blocks
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


