/*==============================================================

Variables

File: SCSS Partial (/scss/partials/_variables.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: All variables
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Base
  -------------------------------------------------------- */

	$base-clr: rgb(0,0,0);
	$base-fnt: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	$base-fnt-size: 16px;
	$base-line-height: 1.5;   
  $base-num: 1em;


/* Colors
  -------------------------------------------------------- */	

  $clr-primary: rgb(0,0,0);
  $clr-secondary: rgb(0,0,0);
  $clr-tert: rgb(0,0,0);
  $clr-quad: rgb(0,0,0);

  $clr-highlight: lighten ($clr-primary, 20%);
  $clr-keyline: rgb(0,0,0);
  $clr-bckgrd: rgb(0,0,0);  


/* Fonts
  -------------------------------------------------------- */ 
  
  // Family
  $fnt-secondary: Verdana, Geneva, sans-serif;
  $fnt-heading: HelveticaNeueLT-UltraLight;

  // Sizes
  @function em($target, $context: $base-fnt-size) {
     @if $target == 0 { @return 0 }
     @return $target / $context + 0em;
  }

  $fnt-xlrg: em(36px, 16px);
  $fnt-lrg: em(26px, 16px);
  $fnt-med: em(18px, 16px);
  $fnt-reg: em(14px, 16px);
  $fnt-sml: em(12px, 16px);
  $fnt-xsml: em(12px, 16px);


/* Layout
  -------------------------------------------------------- */ 

  $max-width: 1024px;


/* Breakpoints
  -------------------------------------------------------- */

  $bp-sml: "only screen and (max-width:320px)";
  $bp-tab: "only screen and (min-width:321px) and (max-width:1023px)";
  $bp-med: "only screen and (min-width:768px) and (max-width:1023px)";
  $bp-lrg: "only screen and (min-width:1024px)";

  $bp-sml-up: "only screen and (min-width:321px)";

  //@media #{$small} {
  //  background: red;
  // }  