/*==============================================================

Buttons

File: SCSS Partial (/scss/objects/_buttons.scss)
Compiled to: css/style.css
Created: 16/10/2015
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Buttons
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Buttons
  -------------------------------------------------------- */

	.btn,
	button,
	input[type="submit"] {
		@include links-dark;
		@include inline-block;
		background: $clr-utility;
		line-height: 1;
		font-weight: $fnt-bold;
		padding: 1.125em;
		border: 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		a {
			@include links-dark;
			text-decoration: none;
		}
		
		&:hover, &:focus {
			background: invert($clr-utility);
		}
	}

	.btn--small {
		@extend .btn;
		padding: $space/2;
	}

	.btn--large {
		@extend .btn;
		padding: $space*2;
	}