@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

	.fade-in {
		opacity:0;  /* make things invisible upon start */
		animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
		animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
		animation-duration:0.5s;
		animation-delay: 0.5s
	}


	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
		40% {transform: translateY(-30px);}
		60% {transform: translateY(-15px);}
	}

	.bounce-in {
		-webkit-animation: bounce 1000ms ease-out;
		-moz-animation: bounce 1000ms ease-out;
		-o-animation: bounce 1000ms ease-out;
		animation: bounce 1000ms ease-out;	
	}