/* Alignment
  -------------------------------------------------------- */

  .align-r {
    text-align: right;
  }

  .align-l {
    text-align: left;
  }

  .align-c {
    text-align: center;
  }  

  .float-r {
    float: right;
  }

  .float-l {
    float: left;
  }