/*==============================================================

Lists

File: SCSS Partial (/scss/base/_lists.scss)
Compiled to: css/global.css
Created: 16/11/2013
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Base rules for lists
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Primary lists
  -------------------------------------------------------- */

  // Base
	ol, ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

  // Post lists
  .entry-text {
    ol, ul {
      margin-left: $space*1.5;
    }
    ol li {
      list-style-type: decimal;
    }
    ul li {
      list-style-type: square;
    }
  }


/* Definition lists
  -------------------------------------------------------- */

  dl {
  	overflow: hidden;
  	margin: 0 0 $space;
  }

  dt {
  	font-weight: $fnt-bold;
  }

  dd {
  	margin: 0 0 $space;
  }