/*==============================================================

Lists

File: SCSS Partial (/scss/base/_lists.scss)
Compiled to: css/global.css
Created: 16/10/2015
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Base rules for lists
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Unordered + ordered lists
  -------------------------------------------------------- */

	ol, ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}


/* Definition lists
  -------------------------------------------------------- */

  dl {
  	overflow: hidden;
  	margin: 0 0 $space;
  }

  dt {
  	font-weight: $fnt-bold;
  }

  dd {
  	margin: 0 0 $space;
  }