/*==============================================================

Tables

File: SCSS Partial (/scss/base/_tables.scss)
Compiled to: css/global.css
Created: 16/10/2015
Updated: 

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

Description: Tables base
Author: David Flindall
Author URI: http://juxprose.com

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/* Base
  -------------------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid $clr-keyline;
	margin-bottom: $space*2;
}

th {
	background: $clr-bckgrd;
	border: 1px solid $clr-keyline;
	padding: $space/2;
	text-align: left;
}

td {
	border: 1px solid $clr-keyline;
	padding: $space/2;
}